body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
}
#u898_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1402px;
  height:810px;
  background-image:none;
}
#u898_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:62px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:61px;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:19px;
  width:301px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:20px;
  width:20px;
  height:22px;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:0px;
  width:54px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u904 {
  position:absolute;
  left:240px;
  top:61px;
}
#u904_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
}
#u904_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:1295px;
  top:15px;
  width:31px;
  height:31px;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:230px;
  height:740px;
  overflow:hidden;
}
#u906_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:740px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u906_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:1550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:1550px;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908 {
  position:absolute;
  left:1px;
  top:50px;
}
#u908_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:219px;
  height:350px;
  background-image:none;
}
#u908_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:219px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u910_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u910.mouseOver {
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:219px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u911_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u911.mouseOver {
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u912 {
  position:absolute;
  left:0px;
  top:50px;
}
#u912_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:219px;
  height:150px;
  background-image:none;
}
#u912_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u913_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u913.mouseOver {
}
#u913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:219px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u914_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u914.mouseOver {
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:219px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u915_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u915.mouseOver {
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:219px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u916_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u916.mouseOver {
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(133, 198, 241, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:400px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u918 {
  position:absolute;
  left:1px;
  top:450px;
}
#u918_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:218px;
  height:850px;
  background-image:none;
}
#u918_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u920_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u920.mouseOver {
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:650px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u923_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u923.mouseOver {
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:700px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u924_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u924.mouseOver {
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:750px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u925_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u925.mouseOver {
}
#u925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:800px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u926_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u926.mouseOver {
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u927 {
  position:absolute;
  left:0px;
  top:100px;
}
#u927_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:218px;
  height:350px;
  background-image:none;
}
#u927_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u928_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u928.mouseOver {
}
#u928_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u929_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u929.mouseOver {
}
#u929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u930_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u930.mouseOver {
}
#u930_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u931_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u931.mouseOver {
}
#u931_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u932_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u932.mouseOver {
}
#u932_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u933_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u933.mouseOver {
}
#u933_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u934_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u934.mouseOver {
}
#u934_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u935 {
  position:absolute;
  left:0px;
  top:500px;
}
#u935_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:218px;
  height:150px;
  background-image:none;
}
#u935_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u936_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u936.mouseOver {
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u937_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u937.mouseOver {
}
#u937_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u938_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u938.mouseOver {
}
#u938_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(133, 198, 241, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u939_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(133, 198, 241, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1300px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u940_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1350px;
  width:218px;
  height:200px;
  overflow:hidden;
}
#u941_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u941_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u942_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u942.mouseOver {
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u943_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u943.mouseOver {
}
#u943_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u944_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u944.mouseOver {
}
#u944_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u945_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u945.mouseOver {
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u947 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:15px;
  width:40px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u948 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:15px;
  width:20px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u949 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:15px;
  width:20px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u950 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:15px;
  width:20px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u951 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:15px;
  width:20px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u952 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:15px;
  width:20px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u953 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:15px;
  width:55px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:15px;
  width:32px;
  height:32px;
  color:rgba(255, 255, 255, 0.8);
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:60px;
  width:1182px;
  height:750px;
}
#u955_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:750px;
  overflow:hidden;
}
