body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
}
#u8_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1402px;
  height:811px;
  background-image:none;
}
#u8_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:62px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:61px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:19px;
  width:301px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:20px;
  width:20px;
  height:22px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:0px;
  width:54px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:240px;
  top:61px;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
}
#u14_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:1295px;
  top:15px;
  width:31px;
  height:31px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:230px;
  height:740px;
  overflow:hidden;
}
#u16_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:740px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u16_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:1550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:1550px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1px;
  top:50px;
}
#u18_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:219px;
  height:350px;
  background-image:none;
}
#u18_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:219px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u20_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u20.mouseOver {
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:219px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u21_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u21.mouseOver {
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:50px;
}
#u22_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:219px;
  height:150px;
  background-image:none;
}
#u22_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u23_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u23.mouseOver {
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:219px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u24_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u24.mouseOver {
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:219px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u25_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u25.mouseOver {
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:219px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u26_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u26.mouseOver {
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(133, 198, 241, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:400px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1px;
  top:450px;
}
#u28_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:218px;
  height:850px;
  background-image:none;
}
#u28_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u30_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u30.mouseOver {
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:650px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u33_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u33.mouseOver {
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:700px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u34_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u34.mouseOver {
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:750px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u35_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u35.mouseOver {
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:800px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u36_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u36.mouseOver {
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:100px;
}
#u37_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:218px;
  height:350px;
  background-image:none;
}
#u37_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u38_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u38.mouseOver {
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u39_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u39.mouseOver {
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u40_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u40.mouseOver {
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u41_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u41.mouseOver {
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u42_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u42.mouseOver {
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u43_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u43.mouseOver {
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u44_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u44.mouseOver {
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:500px;
}
#u45_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:218px;
  height:150px;
  background-image:none;
}
#u45_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u46_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u46.mouseOver {
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u47_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u47.mouseOver {
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u48_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u48.mouseOver {
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(133, 198, 241, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(133, 198, 241, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1300px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1350px;
  width:218px;
  height:200px;
  overflow:hidden;
}
#u51_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u52_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u52.mouseOver {
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u53_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u53.mouseOver {
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u54_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u54.mouseOver {
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:218px;
  height:50px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u55_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(214, 237, 254, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  -webkit-box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  box-shadow:5px 5px 5px rgba(133, 198, 241, 1);
  font-size:16px;
  text-align:left;
}
#u55.mouseOver {
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u57 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:15px;
  width:40px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u58 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:15px;
  width:20px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u59 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:15px;
  width:20px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u60 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:15px;
  width:20px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u61 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:15px;
  width:20px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u62 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:15px;
  width:20px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u63 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:15px;
  width:55px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:15px;
  width:32px;
  height:32px;
  color:rgba(255, 255, 255, 0.8);
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:61px;
  width:1182px;
  height:750px;
}
#u65_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:750px;
  overflow:hidden;
}
